<ul class="aside">
         		
    <%if(isSuper==1){%>
        <%for(var i=0;i<authList.length;i++){%>
            <li>
                <h4><%=authList[i].moduleName%></h4>
                
                <ul>
                    <%for(var j=0;j<authList[i].accesses.length;j++){%>
                        <%if(authList[i].accesses[j].type==2){%>                
                            <li  class="list-group-item"> <a href="<%=adminPath%>/<%=authList[i].accesses[j].url%>" target="rightMain"><%=authList[i].accesses[j].actionName%></a></li>
                        <%}%>
                    <%}%>
                </ul>
            </li>
        <%}%>
    <%}else{%>
        <%for(var i=0;i<authList.length;i++){%>

            <%if(authList[i].checked==true){%>  
                <li>
                    <h4><%=authList[i].moduleName%></h4>
                    
                    <ul>
                        <%for(var j=0;j<authList[i].accesses.length;j++){%>
                            <%if(authList[i].accesses[j].type==2 && authList[i].accesses[j].checked==true){%>                
                                <li  class="list-group-item"> <a href="<%=adminPath%>/<%=authList[i].accesses[j].url%>" target="rightMain"><%=authList[i].accesses[j].actionName%></a></li>
                            <%}%>
                        <%}%>
                    </ul>
                </li>
            <%}%>
        <%}%>
    <%}%>
    
    
</ul>