<% include ../public/page_header.html %>
   
    <!--
        列表展示
    -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="<%=adminPath%>/product/add" class="btn btn-primary">增加菜品</a>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr class="th">
                        <th>菜品名称</th>
                        <th>菜品图片</th>
                        <th>菜品描述</th>
                        <th>增加时间</th>   
                        <th class="text-center">排序</th>       
                        <th class="text-center">状态</th>                   

                        <th class="text-center">操作</th>
                    </tr>
                </thead>
                
            </table>
        </div>

    </div>
    </body>

    </html>