<% include ../public/page_header.html %>

    <div class="panel panel-default">
        <div class="panel-heading">
            增加管理员
        </div>
        <div class="panel-body">
            <div class="table-responsive input-form">
                <form action="<%=adminPath%>/manager/doEdit" method="post">
                    <input type="hidden" name="_csrf" value="<%=csrf%>">
                    <input type="hidden" name="id" value="<%=list.id%>">
                    <ul>
                        <li> 管理员名称: <input type="text" name="username" value="<%=list.username%>" /></li>
                        <li> 管理员密码: <input type="password" name="password" value="<%=list.password%>" /></li>
                        <li> 管理员电话: <input type="text" name="mobile" value="<%=list.mobile%>" /></li>
                        <li> 管理员邮箱: <input type="text" name="email" value="<%=list.email%>" /></li>

                        <li>
                            管理员角色:
                            <select name="roleId" id="roleId">
                                <%for(var i = 0;i<rolesInfo.length; i++){%>
                                    <option value="<%=rolesInfo[i].id%>"><%=rolesInfo[i].rolename%></option>
                                <%}%>
                            </select>
                        </li>

                        <li>
                            <br />
                            <button type="submit" class="btn btn-default">提交</button>
                        </li>

                    </ul>
                </form>
            </div>
        </div>
    </div>